doctype html
html
  head
    title() GameAbilities.gg

  body
    form(action = "/" method="POST" )
      label(for="summonername" class="text-info") Summoner Name
      br
      input(type="text" name="summonername" id="summonername")
      br
      button(class="btn btn-info btn-md" type="submit") Find Game